{% extends "base.jinja" %}

{% block content %}
  <main id="content-main" class="main">
    <h1 class="page-title">{{ _(feincms_page.title) }}</h1>

    {{ render_region(feincms_page, "main", request) }}

  </main>
{% endblock %}
