{% extends "base.html" %}

{% block body_class %}home{% endblock %}

{% block page_css %}
  <link rel="stylesheet" type="text/css" href="{{ static('css/home.css') }}">
{% endblock %}

{% block site_header %}
  <header class="masthead" role="banner">
    <div class="contain">
      <a href="//www.mozilla.org/" id="tabzilla">{{ _('Mozilla') }}</a>

    {% block site_logo %}
      <h2 class="site-logo">
        <a href="{{ feincms_page.get_root().get_absolute_url() }}">
          {{ _('Master Firefox OS') }}
        </a>
      </h2>
    {% endblock %}

    {% block site_switcher %}
      {% include 'includes/version-language-switcher.html' %}
    {% endblock %}

    {% block nav_info %}
      {% include 'includes/nav-information.html' %}
    {% endblock %}

      <div class="page-intro">
        {{ render_region(feincms_page, "main", request) }}
      </div>

    </div>
  </header>
{% endblock %}

{% block nav_content %}{% endblock %}

{% block content %}
  <main class="content-main" class="main">

  {% for child in feincms_page.get_children() %}
    <div class="home-entry">
      <h2>{{ child.title }}</h2>

        {% set text=child.richtextentry_set.first() %}
        {% if text %}
          {{ text.render()|safe }}
        {% endif %}

      <p class="link"><a href="{{ child.get_absolute_url() }}" class="button-hollow">{{ _('Learn more') }}</a></p>
    </div>
  {% endfor %}

  </main>
{% endblock %}
