// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Home page

@require 'lib';


.home-entry {
    .link {
        margin: 1.5em 0;
    }
}

.home {
    .masthead {
        background-image: none;

        .contain {
            padding-bottom: 3em;
        }

        .nav-info {
            position: absolute;
            top: auto;
            bottom: 20px;
        }
    }

    .page-intro {
        margin-top: 20px;

        h2 {
            font-size: 36px;
        }
    }

}



//*----------------------------------------------------------------*/
// @Mobile @Landscape layout: 480px

@media $media-query-mobile-wide {

    .home .masthead {
        .contain {
            padding-bottom: 0;
        }

        .nav-info {
            top: 10px;
            bottom: auto;
        }
    }

}



//*----------------------------------------------------------------*/
// @Tablet layout: 760px

@media $media-query-tablet {

    .home {

        .masthead {
            min-height: 420px;
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;

            &:before {
                content: '';
                display: block;
                background: url('/static/img/fox-swoop.png') no-repeat;
                position: absolute;
                bidi-value(left, calc(50% + 40px), auto);
                bidi-value(right, auto, calc(50% + 40px));
                bidi-value(transform, none, scaleX(-1));
                top: 145px;
                width: 590px;
                height: 670px;
            }
        }

        .page-intro {
            span_narrow(6);
            clear: left;

            h2 {
                font-size: 48px;
            }
        }

        .main {
            span_all();
            margin: 0;
        }
    }

    .home-entry {
        span_narrow(5);
        margin-bottom: 2em;

        &:nth-child(even) {
            offset_narrow(1);
        }

        &:nth-child(odd) {
            bidi-value(clear, left, right);
        }
    }

}



//*----------------------------------------------------------------*/
// @Desktop layout: 1000px

@media $media-query-desktop {

    .home {
        .page-intro {
            span(6);

            h2 {
                font-size: 64px;
            }
        }
    }

    .home-entry {
        span(5);

        &:nth-child(even) {
            offset(1);
        }

    }

}

@media $media-query-highres-large {

    .home .masthead:before {
        background-image: url('/static/img/fox-swoop-hr.png');
        -webkit-background-size: 590px 670px;
                background-size: 590px 670px;
    }

}
