// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// This basic style sheet is served to IE 8 and lower. It provides
// a minimal, linearized layout with some purposeful design but leaves
// out the more advanced styling older versions of IE don't support.


