<div class="text">
  {% if title %}
    <h2>{{ title }}</h2>
  {% endif %}
  {% if subheader_2 %}
    <h3>{{ subheader_2 }}</h3>
  {% endif %}
  {% if subheader_3 %}
    <h4>{{ subheader_3 }}</h4>
  {% endif %}
  <p>
    {{ text }}
  </p>
</div>
