<form class="site-switcher" action="#">
  <p>
    <label for="language">{{ _('Language') }}</label>
    <select id="language" name="language">
    {% for language_code, language in settings.LANGUAGES %}
      <option value="{{ language_code }}"{% if request.path.startswith('/' + language_code) %} selected="true"{% endif %}>{{ language }}</option>
    {% endfor %}
    </select>
  </p>
  <p>
    <label for="version">{{ _('Firefox OS version') }}</label>
    <select id="version" name="version">
    {% for version, data in settings.VERSIONS_LOCALE_MAP.items() %}
      <option value="{{ data['slug'] }}"{% if data['slug'] == request.path.split('/')[2] %} selected="true"{% endif %}>{{ version }}</option>
    {% endfor %}
    </select>
    <a href="#TODO">{{ _('Which version do I have?') }}</a>
  </p>
  <button type="submit">{{ _('Change') }}</button>
</form>

<div id="redirected-from-lang">
  {% for language_code, language in settings.LANGUAGES %}
    {{ activate(language_code) }}
    <div style="display:none;" id="doc-not-found-message-{{ language_code }}">
      {# Translators: Replace the first English with the localized name of your language. #}
      {{ _('Documentation for Firefox OS {version} is not yet available in English, so we redirected you to the English version.') }}
    </div>
    <div style="display:none;" id="latest-version-message-{{ language_code }}">
      {{ _('The latest version available in English is {version}.') }}
    </div>

  {% endfor %}
  {{ activate(request.LANGUAGE_CODE) }}
</div>

<script type="text/javascript" src="{{ static('js/main.js') }}" defer="true"></script>
